body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body,
button,
input,
select,
textarea {
  font: 12px 'Microsoft YaHei', Arial, Helvetica, sans-serif;
  color: #333;
}
input,
select,
textarea {
  font-size: 100%;
}
/*clear both*/
.clearfix {
  display: inline-block;
  clear: both;
}
.clearfix:after {
  /*/*/
  content: ".";
  /* ie8 */
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.mainbox {
  width: 1000px;
  margin: 0 auto;
}
.hd_global_top_bar {
  height: 30px;
  background: #FAFAFA;
  border-bottom: 1px solid #DBDBDB;
  padding-top: 5px;
  font-family: 'Microsoft YaHei';
}
.hd_global_top_bar span {
  float: right;
  display: block;
  border-left: 1px solid #CCCCCC;
  padding: 2px 15px;
  margin: 0 3px;
}
.hd_global_top_bar .menuhover {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
.hd_global_top_bar .icon-down {
  background-image: url(../image/indexhead_sprite.png);
  background-position: right -257px;
  background-repeat: no-repeat;
  padding-right: 20px;
}
.hd_global_top_bar .icon-up {
  background-image: url(../image/indexhead_sprite.png);
  background-position: right -285px;
  background-repeat: no-repeat;
  padding-right: 20px;
  border: 1px solid #FAFAFA;
  border-bottom: 0;
}
.hd_global_top_bar .top_bar_dropmenu {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  list-style-type: none;
  background: #fff;
  width: 83px;
  border: 1px solid #ccc;
  border-top: 0;
  margin: 0 0 0 -16px;
}
.hd_global_top_bar .top_bar_dropmenu li {
  text-align: center;
  padding: 5px 0;
}
.logotop {
  height: 80px;
}
.logotop .logo {
  background: url(../image/index_logo.png) center center no-repeat;
  width: 165px;
  height: 59px;
  padding: 10px;
}
.logotop .search {
  float: right;
  width: 650px;
  padding-top: 15px;
}
.logotop .searchinput {
  border: 1px solid #3DA200;
  height: 35px;
  background: #3DA200;
  overflow: hidden;
  float: left;
  box-shadow: 0 0 5px #ccc;
}
.logotop .searchinput input {
  border: 0 solid #ccc;
  width: 400px;
  height: 35px;
  float: left;
  padding-left: 20px;
  font-family: 'Microsoft YaHei';
}
.logotop .searchinput .searchbtn {
  color: #fff;
  width: 76px;
  float: left;
  height: 30px;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  letter-spacing: 5px;
}
.logotop .checkout {
  padding: 5px 25px;
  font-family: 'Microsoft YaHei';
  float: left;
  border: 1px solid #eaeaea;
  background: url(../image/indexhead_sprite.png) 5px -685px no-repeat #f7f7f7;
  margin: 6px 0  6px 20px;
  cursor: pointer;
}
.logotop .checkout:hover {
  background-color: #ff6a00;
  border: 1px solid #ff6a00;
  color: #fff;
}
.logotop .searchtext li {
  display: inline;
  margin: 5px;
}
.global_menu {
  background: #3DA200;
  height: 35px;
  overflow: hidden;
}
.global_menu .bigmenu {
  position: absolute;
  background: #61CD12;
  width: 210px;
  box-shadowx: 2px 2px 2px #2D7800;
  overflow: hidden;
  border-bottom: 1px solid #61CD12;
}
.global_menu .bigmenu h1 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: url(../image/indexhead_sprite.png) -240px -1108px no-repeat;
  margin: 0;
  padding: 8px 0;
}
.global_menu .bigmenu ul {
  text-align: center;
  color: #525252;
}
.global_menu .bigmenu ul li {
  background: #E4FEC5;
  padding: 0 0 4px 0;
}
.global_menu .bigmenu ul .odd {
  background: #fff;
}
.global_menu .bigmenu ul h2 {
  font-size: 14px;
  margin: 0;
  padding: 2px 0;
}
.global_menu .bigmenu ul span {
  padding: 0 10px;
}
.global_menu .bigmenu ul a {
  color: #333;
  text-decoration: none;
}
.global_menu .bigmenu ul a:hover {
  color: #2d7800;
}
.global_menu .topmenu {
  display: block;
  height: 35px;
  margin-left: 250px;
}
.global_menu .topmenu li {
  display: inline;
  padding: 7px 40px;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.global_menu .topmenu li:hover {
  background: #61CD12;
}
.adbox {
  width: 790px;
  height: 300px;
  margin-left: 210px;
  background: red;
  position: relative;
  overflow: hidden;
}
.index-typett {
  background: #E4FEC5;
  background-image: url(../image/indexhead_sprite.png);
  background-repeat: no-repeat;
  height: 40px;
  border-bottom: 1px solid #3DA200;
  margin: 10px auto;
}
.index-typett .typetext {
  font-size: 15px;
  font-weight: bold;
  padding: 0 50px 0  100px;
  line-height: 35px;
  color: #277700;
}
.index-typett ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.index-typett ul li {
  display: inline;
  padding: 0 20px;
  font-size: 14px;
  border-left: 1px dotted #277700;
}
.index-typett ul a {
  color: #277700;
  text-decoration: none;
}
.index-typett ul a:hover {
  color: #000000;
}
.index-icon1 {
  background-position: 20px -1136px;
}
.index-icon2 {
  background-position: 20px -1188px;
}
.index-icon3 {
  background-position: 20px -1242px;
}
.index-icon4 {
  background-position: 20px -1292px;
}
.index-icon5 {
  background-position: 20px -1346px;
}
.index-icon6 {
  background-position: 20px -1398px;
}
.pro-box {
  height: 210px;
}
.pro-box .probox {
  height: 210px;
  margin: 0 5px;
  width: 190px;
  float: left;
  overflow: hidden;
}
.pro-box .probox img {
  width: 188px;
  height: 168px;
  border: 1px solid #DBDBDB;
  clear: both;
}
.pro-box .probox .title {
  display: block;
  clear: both;
}
.footcontent {
  border-top: 1px solid #3DA200;
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
  padding: 20px 0;
  color: #666;
}
.footcontent .title {
  font-size: 14px;
  font-weight: bold;
}
.footcontent ul {
  background-image: url(../image/icon.png);
  background-repeat: no-repeat;
  float: left;
  margin: 0 30px;
  padding: 0 10px 10px 70px;
}
.footcontent ul li {
  line-height: 20px;
}
.footcontent .icon1 {
  background-position: 0 0;
}
.footcontent .icon2 {
  background-position: -190px 0;
}
.footcontent .icon3 {
  background-position: -380px 0;
}
.footcontent .icon4 {
  background-position: -570px 0;
}
.footcontent .icon5 {
  background-position: -760px 0;
}
.linkme {
  text-align: center;
  line-height: 25px;
}
.linkme span {
  padding: 0 10px;
}
.prolistmenu {
  background: #E4FEC5;
  height: 35px;
  border-bottom: 1px solid #3DA200;
  margin: 10px auto;
}
.prolistmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.prolistmenu ul li {
  display: block;
  float: left;
  text-align: center;
  font-size: 14px;
}
.prolistmenu ul a {
  color: #277700;
  text-decoration: none;
  display: block;
  width: 150px;
  line-height: 35px;
  padding: 0 20px;
}
.prolistmenu ul a:hover {
  color: #fff;
  background: #3da200;
}
.prolistmenu ul .current {
  color: #fff;
  background: #3da200;
}
.prolist-box ul {
  display: block;
}
.prolist-box ul li {
  margin: 5px 0;
  padding: 0 17px;
  width: 160px;
  float: left;
  border-right: 1px solid #E5E5E5;
}
.prolist-box ul li .p-name {
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
  font: 12px/18px "microsoft yahei";
}
.prolist-box ul li .p-name a {
  color: #666;
  text-decoration: none;
}
.prolist-box ul li .p-img {
  width: 100%;
  height: 160px;
  text-align: center;
  padding: 5px 0;
}
.prolist-box ul li .p-price {
  width: 100%;
  height: 32px;
  font: 20px/32px Verdana;
  text-align: center;
  color: #E4393C;
}
#pagination-digg {
  width: 400px;
  margin: 0 auto;
  display: block;
  padding: 15px 0;
}
#pagination-digg li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
  /* savers */
  float: left;
}
#pagination-digg a {
  border: solid 1px #3DA200;
  margin-right: 2px;
}
#pagination-digg .previous-off,
#pagination-digg .next-off {
  border: solid 1px #DEDEDE;
  color: #888888;
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 3px 4px;
}
#pagination-digg .next a,
#pagination-digg .previous a {
  font-weight: bold;
}
#pagination-digg .active {
  background: #3DA200;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  float: left;
  padding: 4px 12px;
  /* savers */
  margin-right: 2px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
  color: #3DA200;
  display: block;
  float: left;
  padding: 3px 12px;
  text-decoration: none;
  border-radius: 2px;
}
#pagination-digg a:hover {
  border: solid 1px #3DA200;
}
.topnav {
  padding: 10px 0;
}
.topnav strong {
  font-size: 18px;
}
.topnav a {
  text-decoration: none;
  color: #666;
  padding: 0 10px;
}
.topnav span a {
  font-family: SimSun;
}
.product-intro {
  position: relative;
  z-index: 1;
  padding-left: 370px;
  min-height: 474px;
  height: auto!important;
}
.product-intro .name {
  border-bottom: 1px dotted #CCC;
  padding: 10px 0;
}
.product-intro .name h1 {
  zoom: 1;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-size: 16px;
  color: #666;
}
.product-intro .name strong {
  display: block;
  color: #E4393C;
  font-size: 16px;
}
.product-intro .summary {
  height: 150px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  margin: 15px 0;
  font-size: 16px;
}
.product-intro .summary li {
  line-height: 30px;
}
.product-intro .summary .red {
  font-size: 16px;
  color: #E4393C;
  font-weight: bold;
}
.product-intro .edit {
  font-size: 14px;
  color: #666;
  line-height: 40px;
}
.product-intro .edit input {
  width: 100px;
  float: left;
}
.product-intro .edit strong,
.product-intro .edit span,
.product-intro .edit input {
  float: left;
}
.product-intro .edit span {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.product-intro .edit .minus {
  background: url(../image/plus.png) left top no-repeat;
}
.product-intro .edit .plus {
  background: url(../image/plus.png) right top no-repeat;
}
.product-intro .preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
}
.product-intro .preview .imgbig {
  width: 350px;
  height: 350px;
  border: 1px solid #ccc;
}
.product-intro .preview .zoompic {
  margin-top: 15px;
}
.product-intro .preview .zoompic a.left {
  display: block;
  float: left;
  background: url(../image/preview.png) left top no-repeat;
  height: 54px;
  width: 17px;
}
.product-intro .preview .zoompic a.left:hover {
  display: block;
  float: left;
  background: url(../image/preview.png) -34px top no-repeat;
  height: 54px;
  width: 17px;
}
.product-intro .preview .zoompic a.right {
  display: block;
  float: left;
  background: url(../image/preview.png) -17px 0 no-repeat;
  height: 54px;
  width: 17px;
}
.product-intro .preview .zoompic a.right:hover {
  display: block;
  float: left;
  background: url(../image/preview.png) -51px 0 no-repeat;
  height: 54px;
  width: 17px;
}
.product-intro .preview .zoompic .pic {
  width: 54px;
  height: 54px;
  float: left;
  margin: 0 2px;
  border: 1px solid #ccc;
  padding: 1px;
}
.product-intro .preview .zoompic .pic img {
  border: none;
  width: 54px;
  height: 54px;
}
.product-intro .preview .zoompic a.pic:hover {
  border: 1px solid red;
  cursor: pointer;
}
.product-intro .addin {
  background: url(../image/btn.png) 0 0;
  color: #fff;
  width: 137px;
  height: 38px;
  margin: 10px;
}
.intros {
  position: relative;
  z-index: 1;
  padding-left: 220px;
  min-height: 474px;
  background: #fff;
  height: auto!important;
}
.intros .mt {
  border-top: 2px solid #666;
  overflow: visible;
  height: 30px;
  line-height: 30px;
  background: #F7F7F7;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
.intros .mt .tab {
  margin-left: -1px;
  overflow: visible;
  display: list-item;
}
.intros .mt .tab li {
  float: left;
  display: list-item;
}
.intros .mt .tab a {
  height: 30px;
  line-height: 28px;
  padding: 0 13px;
  color: #666;
  text-decoration: none;
}
.intros .mt .tab .curr {
  color: #E4393C;
  border-top: 2px solid #E4393C;
  background-color: #FFF;
  margin-top: -6px;
  height: 34px;
  line-height: 34px;
  padding: 0 12px;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #fff;
}
.intros .mc {
  padding: 10px 0;
  border: 1px solid #DDD;
  border-top: 0;
}
.intros .mc .detail {
  padding: 15px;
}
.intros .othermenu {
  position: absolute;
  left: 0;
  top: 0;
  height: 170px;
  width: 210px;
}
.intros .othermenu .othertype {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.intros .othermenu .othertype h1 {
  background: url(../image/bg.png) left top repeat-x;
  margin: 0;
  padding: 8px;
  font-size: 14px;
}
.intros .othermenu .othertype li {
  width: 100px;
  float: left;
  line-height: 25px;
  text-indent: 15px;
  padding: 2px 0;
  font-size: 13px;
}
.intros .othermenu .othertype li a {
  color: #333;
}
.intros .othermenu .othertype .p-img {
  text-align: center;
  border-bottom: 1px solid #F8F8F8;
  margin: 10px;
}
.intros .othermenu .othertype .p-img a {
  display: block;
  width: 100%;
}
.intros .othermenu .othertype .p-img span {
  display: block;
  clear: both;
  padding: 5px;
}
.graybg {
  background: #f2f2f2;
}
.loginlogo {
  background: url(../image/login_logo.png) left 10px no-repeat;
  height: 65px;
}
.logincnt {
  margin: 75px auto;
  background: #D7D7D7;
  padding: 5px;
  width: 890px;
  position: relative;
}
.logincnt .topswitch {
  width: 260px;
  height: 40px;
  position: absolute;
  right: 100px;
  top: -34px;
  z-index: 999;
}
.logincnt .topswitch .click1 {
  width: 120px;
  height: 40px;
  cursor: pointer;
  float: left;
}
.logincnt .topswitch .click2 {
  width: 120px;
  height: 40px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
}
.logincnt .btn1 {
  background: url(../image/bt1.png) left top no-repeat;
}
.logincnt .btn2 {
  background: url(../image/bt2.png) left top no-repeat;
}
.logincnt .loginbox {
  background: #fff;
}
.logincnt .loginbanner {
  width: 400px;
  height: 350px;
  overflow: hidden;
}
.logincnt .loginform {
  float: right;
  width: 400px;
  border-left: 0px solid #ccc;
}
.logincnt .loginform .forms h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
  padding: 15px 0;
  font-weight: normal;
}
.logincnt .loginform .forms input {
  width: 300px;
  font-size: 14px;
  line-height: 28px;
}
.logincnt .loginform .forms .inputs {
  position: relative;
  margin-right: 80px;
}
.logincnt .loginform .forms .username {
  background: url(../image/login-all-bg.png) -369px -106px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 5px;
}
.logincnt .loginform .forms .password {
  background: url(../image/login-all-bg.png) -340px -106px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 5px;
}
.logincnt .loginform .forms .otherinput {
  margin: 25px 0;
}
.logincnt .loginform .forms .otherinput input {
  width: auto;
}
.logincnt .loginform .forms .loginbtn {
  background: url(../image/login-all-bg.png) 0 -62px;
  width: 309px;
  height: 32px;
  display: block;
}
.logincnt .loginform .forms .loginbtn:hover {
  background: url(../image/login-all-bg.png) 0 -96px;
  width: 309px;
  height: 32px;
  display: block;
}
.logincnt .loginothers {
  margin-top: 30px;
}
.logincnt .loginothers span {
  display: block;
  padding-bottom: 10px;
}
.logincnt .loginothers b {
  font-weight: normal;
  color: #757575;
}
.usermain {
  border: 1px solid #ccc;
  background: #F4F4F4;
}
.usermain .user-left {
  width: 200px;
  margin-right: 20px;
}
.usermain .user-left h1 {
  text-align: center;
  color: #3DA200;
}
.usermain .user-left ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  border: 1px solid #ccc;
  border-bottom: none;
}
.usermain .user-left ul li {
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.usermain .user-left ul li a {
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  color: #333333;
}
.usermain .user-left ul li a:hover {
  color: #3da200;
  background: #E4FEC5;
}
.usermain .user-left ul .current {
  color: #3da200;
  background: #E4FEC5;
}
.usermain .user-right {
  border: 1px solid #ccc;
  padding: 15px;
  background: #fff;
  float: right;
  margin: 15px;
  width: 750px;
  height: 800px;
}
.usermain .user-right a {
  text-decoration: none;
}
.usermain .user-right .btn1 {
  background: #51B50B;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  width: 100px;
  border-radius: 2px;
  display: block;
}
.usermain .user-right .btn1:hover {
  background: #4e9f16;
}
.usermain .user-right table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 15px 0 0 0;
}
.usermain .user-right table th {
  padding: 10px;
  font-size: 14px;
}
.usermain .user-right table td {
  padding: 5px 13px;
  text-align: center;
}
.usermain .user-right .alir {
  text-align: right;
}
.usermain .user-right table,
.usermain .user-right th,
.usermain .user-right td {
  border: 1px solid #ccc;
}
.usermain .user-right a.link {
  color: #3da200;
}
.usermain .user-right a.link:hover {
  text-decoration: underline;
}
.usermain .user-right .btn2 {
  background: #51B50B;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  width: 60px;
  border-radius: 2px;
  display: block;
}
.usermain .user-right .btn2:hover {
  background: #4e9f16;
}
.usermain .user-right .btn3 {
  background: #51B50B;
  color: #fff420;
  text-align: center;
  padding: 10px 20px;
  width: 100px;
  border-radius: 2px;
  display: block;
  float: right;
  font-size: 14px;
  font-weight: bold;
}
.usermain .user-right .btn3:hover {
  background: #4e9f16;
}
.usermain .user-right .btn4 {
  background: #51B50B;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  width: 60px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.usermain .user-right .btn4:hover {
  background: #4e9f16;
}
.usermain .user-right .total {
  padding: 20px;
  margin: 20px;
  text-align: right;
}
.usermain .user-right .total span {
  padding: 15px ;
  display: block;
  float: right;
}
.usermain .myprosearch {
  font-size: 15px;
}
.usermain .myprosearch select {
  margin: 0 20px 0 10px;
  width: 150px;
}
.usermain .ordermenu {
  display: block;
  margin: 0;
  padding: 0;
  height: 39px;
  border-bottom: 2px solid #ccc;
  position: relative;
  list-style-type: none;
  width: 100%;
}
.usermain .ordermenu li {
  height: 39px;
  border-bottom: 2px solid #ccc;
  text-align: center;
  width: 100px;
  display: block;
  float: left;
}
.usermain .ordermenu li span {
  display: block;
  font-weight: bold;
  border-right: 1px solid #efefef;
  margin: 5px 0;
  padding: 5px;
}
.usermain .ordermenu li i {
  font-weight: bold;
  font-style: normal;
  color: #277700;
  margin: 0 5px;
}
.usermain .ordermenu .current {
  color: #3DA200;
  border-bottom: 2px solid #3da200;
}
.usermain .ordermenu .delorder {
  text-align: center;
  width: 120px;
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  border: none;
  background: url(../image/indexhead_sprite.png) -282px -548px no-repeat;
}
.usermain .ordertime {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  border: 1px solid #ccc;
  background: #E4FEC5;
  border-bottom: 0;
}
.usermain .shiptitle {
  border: 1px solid #f5f5f5;
  background: #fcfcfc;
  padding: 5px 20px;
  margin: 0 0 20px 0;
}
.usermain .shiptitle h3 {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
  margin: 0 0 10px 0;
}
.usermain .shiptitle .useraddr {
  color: #333;
  font-size: 14px;
  margin: 10px 0;
}
.usermain .shiptitle .useraddr b {
  color: #4e9f16;
}
.usermain .shiptitle th {
  background: #f5f5f5;
}
.usermain .orderstate {
  margin: 10px 0;
}
.usermain .orderstate span {
  color: #ff0000;
}
.daynow table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 15px 0 0 0;
}
.daynow table th {
  padding: 10px;
  font-size: 14px;
  background: #f1f1f1;
}
.daynow table td {
  padding: 8px 13px;
  text-align: center;
}
.daynow table th,
.daynow table td {
  border: 1px solid #ccc;
}
.daynow table a.link {
  color: #3da200;
}
.daynow table a.link:hover {
  text-decoration: underline;
}
.daynow table .alir {
  text-align: right;
}
.daynow table .odd {
  background: #fcfcfc;
}
.daynow table .current {
  background: #e4fec5;
}
.daynow table .mktprice {
  text-decoration: line-through;
  font-weight: bold;
}
.daynow table .avlprice {
  color: #277700;
  font-weight: bold;
}
.daynow .siwtchbox {
  padding: 15px 0 0px 0;
  height: 33px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.daynow .siwtchbox div {
  float: left;
  width: 100px;
  padding: 8px 15px;
  text-align: center;
  background: #efefef;
  border: 1px solid #ccc;
  margin: 0 15px 0 0;
  cursor: pointer;
}
.daynow .siwtchbox .chg {
  background: #fff;
}
/*# sourceMappingURL=style.css.map */